.card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-width: thin;

    h4 {
        margin: 0;
        font-size: 1.1rem;
    }

    p {
        margin: 0;
    }

    button {
        margin-top: 1rem;
        width: 40%;
    }
}

.card:hover {
    box-shadow: 8px 8px 5px darkblue, -8px -8px 5px darkblue, 8px -8px 5px darkblue, -8px 8px 5px darkblue;
    background-color: black;
}
